<html>
    <head>
        <h1>
            Delete Book
        </h1>
    </head>
    <body>
        <form method= "post">
            <p>
                Are you sure you want to delete {{book['title']}} ? <br>
            </p>
            <input type="submit" value="Delete">
            <a href="{{ url_for('showBook') }}">Cancel</a> 
        </form>
    </body>
</html>