<html>
    <head>
        <h1>
            Edit Book
        </h1>
    </head>
    <body>
        Name: <br> <br>
        <form method="post">
            <input type="text" id="title" name="title" value="{{ book['title'] }}"><br><br>
            <input type="submit" value="Edit">
        <a href="{{ url_for('showBook') }}">Cancel</a> 
    </form>
        
    </body>
</html>