<html>
    <head>

    </head>
    <body>
        <h1>Books</h1> <br>
        {% for book in books: %}
            {{book['title']}} <br>
            <a href = "{{url_for('editBook', book_id=book['id'])}}"> Edit books </a> <br>
            <a href = "{{url_for('deleteBook', book_id=book['id'])}}"> Delete books </a> <br>
            <br> <br>
        {% endfor%}
    </body>   
</html>       


    
